$col-size-lg: 5.73%;
$margin-size-lg: 5.73%;

@mixin container {
	width: 100%;
	max-width: 1100px;
	margin: auto;

	&:before,
	&:after {
		content: "";
	    display: table;
	    clear: both;
	}
}

@mixin grid-col($columns, $margin: $margin-size-lg, $shift: 0) {
	box-sizing: border-box;
	float: left;
	width: ($col-size-lg * $columns) + ($margin * ($columns - 1));
	margin-left: $margin * ($shift + 1);
}

@mixin grid-row() {
	width: 100%;
	box-sizing: border-box;

	&:before, 
	&:after {
		content: "";
	    display: table;
	    clear: both;
	}
}




