.ProductDetail {
	font-family: 'Montserrat Light';
	font-size: 18px;
	left: 0;
	right: 0;
	margin: {
		left: auto;
		right: auto;
	} 
	position: absolute;
	text-align: center;

	.gallery {
		@include grid-row();

		img {
			@include grid-col(4);
		}
	}

	span {
		display: block;
		margin: 10px;

		&.product-price {
			font-weight: bold;
		}
	}

	div.product-detail-body {
		@include grid-row();
		box-sizing: border-box;
		padding: 10px 20px;
	}

	div.product-description {
		@include grid-col(4);
		
		box-sizing: border-box;
		font-size: 18px;
		font-weight: 300;
		padding: 0 20px;
		text-align: left;
		-webkit-font-smoothing: antialiased;
	}

	div.select-size {
		@include grid-col(3, $shift: 1);
	}

	.footer {
		margin-top: 60px;

		h3 {
			font-size: 24px;
		}
	}

	@media (max-width: 800px) {

		.gallery img {
			@include grid-col(8);
		}

		div.product-description,
		div.select-size {
			@include grid-col(8);
		}
	}
}