.ProductTable {
	left: 0;
	right: 0;
	margin: {
		left: auto;
		right: auto;
	} 
	position: absolute;
	text-align: center;
	
	h1 {
		font-size: 72px;
		margin: {
			bottom: 60px;
			top: 20px;
		}


	}
}