.SizeForm {
	@include grid-col(8);

	text-align: left;

	button.buy-now {
		background-color: #000;
		border: none; 
		color: white;
		cursor: pointer;
		font-size: 12px;
		font-weight: bold;
		height: 50px;
		padding: 10px;
		width: 100%;
		-webkit-transition: color .5s;
		transition: .5s;

		&:focus {
			@extend .focus-state;
		}

		&:hover {
			background-color: lighten(#000, 25%);
		}
	}
}