.SizeFormInput {
	@include grid-col(8);

	box-sizing: border-box;
	font-size: 14px;
	margin-left: 0;
	padding: 10px 0;

	.control {
		color: gray;
		cursor: pointer;
		display: block;
		margin-bottom: 15px;
		padding-left: 30px;
		position: relative;
		
		input {
			opacity: 0;
			position: absolute;
			z-index: -1;
		}

		.control-indicator {
			background: #fff;
			border: 3px solid lighten(#000, 30%);
			border-radius: 50%;
			height: 16px;
			left: 0;
			position: absolute;
			top: 0;
			width: 16px;

			&:after {
				display: none;
				content: '';
				position: absolute;
			}
		}

		input:focus ~ .control-indicator,
		.control-indicator:focus {
			@extend .focus-state;
		}

		&:hover input ~ .control-indicator {
			background: darken(#fff, 5%);
		} 

		input:checked ~ .control-indicator {
			background: #fff;

			&:after  {
				border-radius: 50%;
				background: lighten(#000, 30%);
				display: block;
				height: 10px;
				left: 3px;
				top: 3px;
				width: 10px;
			}	
		}
	}
}

